@layout("/common/_container.html"){
<link href="${ctxPath}/static/css/bootstrap-directional-buttons.min.css" rel="stylesheet"/>
<link href="${ctxPath}/static/layui/css/layui.css" rel="stylesheet"/>
<style>
	.box{
		width: 90%;
		margin:0 auto;
		min-height: 100px;
		border-radius: 3px;
		-moz-box-shadow: 0px 0px 8px #c3c3c3; /* 老的 Firefox */
		box-shadow: 0px 0px 8px #c3c3c3;
		background-color: white;
	}
	.box-head{
		height: 50px;
		line-height: 50px;
		padding-left:20px;
		font-size: 14px;
		border-bottom: 1px solid #e4e4e4;
	}
	.box-content{
		padding: 20px 60px;
	}
	.text-left{
		text-align: left !important;
	}
	.font-blue{
		color: #3399ff;
	}
	.back-blue{
		background-color: #3399ff;
	}
	.margin-top-20{
		margin-top: 20px;
	}
	.btn-item-last::after {
		content: none !important;
	}
	.btn-item-first::before {
		content: none !important;
	}
	.btn-item{
		border-radius: 4px !important;
	}
	.btn-arrow-right{
		padding-right: 50px !important;
		padding-left: 70px !important;
	}
	.btn:focus,
        .btn:active:focus,
        .btn.active:focus,
        .btn.focus,
        .btn:active.focus,
        .btn.active.focus {
            outline: none;    
            box-shadow:none
        }
    .btn-active{
    	color:white;
    	background-color: #3399ff;
    }
    .time-content{
    	-moz-box-shadow: 0px 0px 2px #e4e4e4; /* 老的 Firefox */
		box-shadow: 0px 0px 2px #e4e4e4;
    	width: 50%;
    	padding:10px;
    	border:1px solid #e4e4e4;
    	border-radius: 3px;
    }
    .layui-timeline-axis{
    	color: #e4e4e4;
    }
    .layui-timeline-axi,.active{
    	color: #3399ff;
    }
    #bgbox{
    	background: white;
    }
    #title{
		width: 100%;
		font-size: 16px;
		text-align: center;
		padding: 25px 20px 15px;
	}
	.box-content lable{
		
	}
	.box-content select{
		padding-left:15px;
		margin-left:15px;
		width: 50%;
		height: 32px;
		border-radius: 3px;
	}
	select option{
		height: 32px;
	}
	.box-btn{
		padding: 15px;
		text-align: center;
	}
	#title1{
		width: 100%;
		background: #f2f2f2;
		padding: 15px;
		font-size: 16px;
	}
	.form-div{
		font-size:14px;
		width: 80%;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
		min-height: 30px;
		padding: 5px;
		margin-top: 10px;
	}
	.form-lable{
		height: 30px;
		width: 100px;
		margin-right: 20px;
		text-align: right;
	}
	.form-context{
		flex:1;
	}
	.radio-lable{
		margin-right: 10px;
	}

</style>
<div class="ibox float-e-margins">
	<input type="hidden" id="xsjhId" value="${item.id!}">
	<!-- 变更阶段box -->
	<div id="bgbox" style="display: none;min-height: 80%;">
		<div id="title"><h3>变更销售阶段</h3></div>
		<div class="box-content">
		    <span>销售阶段</span>
		    <select id="xsjdId">
		        <option value="1">初步接触</option>
		        <option value="2">需求确定</option>
		        <option value="3">方案报价</option>
		        <option value="4">谈判审核</option>
		        <option value="5">赢单</option>
		        <option value="6">输单</option>
		    </select>
		</div>
		<div class="box-btn" style="margin-top: 10px;border-top:1px solid #e4e4e4;">
			<button class="back-blue btn" style="margin-right: 10px;color:white;" onclick="bgtijiao()">确认</button>
			<button class="btn" onclick="layer.closeAll();">取消</button>
		</div>
	</div>
	<!-- 转移阶段box -->
	<div id="zhbox" style="display: none;min-height: 80%;">
		<div id="title"><h3>是否将销售机会转移给其他负责人？转移成功之后，该操作将无法恢复。</h3></div>
		<div class="box-content">
		    <span>新负责人</span>
		    <select id="newXyrId">
		    	@for(user in userList){
		    		<option value="${user.id!}">${user.name!}</option>
		    	@}
		    </select>
		</div>
		<div class="box-btn" style="margin-top: 10px;border-top:1px solid #e4e4e4;">
			<button class="back-blue btn" style="margin-right: 10px;color:white;" onclick="zhtijiao()">确认</button>
			<button class="btn" onclick="layer.closeAll();">取消</button>
		</div>
	</div>
	<!-- 新增销售机会box -->
	<div id="xsjhbox" style="display: none;min-height: 80%;">
		<div id="title1"><span>新增销售机会</span><img class="pull-right" alt="" src=""> </div>
		<div style="padding: 30px;">
			<div class="form-div">
				<label class="form-lable">更近方式:</label>
				<div class="form-context">
				      <label for="r5" class="radio-lable"><input id="jhdtFs" checked="checked" type="radio" value="1" name="jhdtFs">当面拜访</label>
					  <label for="r6" class="radio-lable"><input id="jhdtFs" type="radio" value="2" name="jhdtFs">电话拜访</label>
					  <label for="r6" class="radio-lable"><input id="jhdtFs" type="radio" value="3" name="jhdtFs">网络拜访</label>
				</div>
			</div>
			<div class="form-div">
				<label class="form-lable">跟进业务:</label>
				<div class="form-context">
					<input class="form-control" type="text"  id="jhdtYw">
				</div>
			</div>
			<div class="form-div">
				<label class="form-lable">详情:</label>
				<div class="form-context">
					<textarea rows="8" class="form-control" id="jhdtNr"></textarea>
				</div>
			</div>
		</div>
		<div class="box-btn" style="margin-top: 10px;border-top:1px solid #e4e4e4;">
			<button class="back-blue btn" style="margin-right: 30px;color:white;" onclick="addRecordTijiao()">确认</button>
			<button class="btn" onclick="layer.closeAll();">取消</button>
		</div>
	</div>
	<!-- 销售机会 -->
    <div class="box">
    	<div class="box-head">销售机会信息</div>
    	<div class="box-content">
    	   <form class="form-horizontal" role="form">
			  <div class="form-group">
			    <span for="firstname" class="col-sm-2 control-label">销售机会：</span>
			    <div><span class="col-sm-2 control-label text-left">${item.jhname!}</span></div>
			    <span for="firstname" class="col-sm-2 control-label">所有人：</span>
			    <div>
			    	<span class="col-sm-1 control-label text-left">${item.syrname!}</span>
			    	<button type="button" class="layui-btn layui-btn-primary" onclick="zh()">转换</button>
			    </div>
			  </div>
			  <div class="form-group">
			    <span for="firstname" class="col-sm-2 control-label">客户名称：</span>
			    <div><span class="col-sm-2 control-label text-left font-blue">${item.xsjhName!}</span></div>
		      </div>
		      <div class="form-group">
			    <span for="firstname" class="col-sm-2 control-label">结单日期：</span>
			    <div><span class="col-sm-4 control-label text-left">${item.endTime!,dateFormat='yyyy-MM-dd HH:mm:ss'}</span></div>
		      </div>
		      <div class="form-group">
			    <span for="firstname" class="col-sm-2 control-label">销售金额：</span>
			    <div><span class="col-sm-2 control-label text-left">${item.xsjhJe!} 元 </span></div>
			    <span for="firstname" class="col-sm-2 control-label">销售单价：</span>
			    <div><span class="col-sm-2 control-label text-left"> ${item.xsjhdj!}  元 </span></div>
			    <span for="firstname" class="col-sm-2 control-label">销售数量：</span>
			    <div><span class="col-sm-2 control-label text-left">${item.xsjhSl!} 套 </span></div>
		      </div>
		   </form>
    	</div>
    </div>
    <!-- 销售阶段 -->
    <div class="box margin-top-20">
    	<div class="box-head">销售阶段</div>
    	<div class="box-content">
    		<div class="" style="font-size: 12px !important;">
    			@if(item.xdjhJd >= 1){
	    		<button type="button" class="btn-item-first btn-lg btn-item btn btn-arrow-right btn-active">初步接触</button>
    			@}else{
    				<button type="button" class="btn-lg btn-item btn btn-arrow-right">初步接触</button>
    			@}
    			@if(item.xdjhJd >= 2){
				<button type="button" class="btn-item btn btn-lg btn-arrow-right btn-active">需求确定</button>
				@}else{
    				<button type="button" class="btn-item btn btn-lg btn-arrow-right">需求确定</button>
    			@}
				@if(item.xdjhJd >= 3){
				<button type="button" class="btn-item btn btn-lg btn-arrow-right btn-active">方案报价</button>
				@}else{
    				<button type="button" class="btn-item btn btn-lg btn-arrow-right">方案报价</button>
    			@}
				@if(item.xdjhJd >= 4){
				<button type="button" class="btn-item btn btn-lg btn-arrow-right btn-active">谈判审核</button>
				@}else{
    				<button type="button" class="btn-item btn btn-lg btn-arrow-right">谈判审核</button>
    			@}
				@if(item.xdjhJd == 5){
				<button type="button" class="btn-item btn-item-last btn btn-lg btn-active btn-arrow-right">&nbsp;&nbsp;&nbsp;&nbsp;赢单&nbsp;&nbsp;&nbsp;&nbsp;</button>
    			@}
 		 		@if(item.xdjhJd == 6){
				<button type="button" class="btn-item btn-item-last btn btn-lg btn-active btn-arrow-right">&nbsp;&nbsp;&nbsp;&nbsp;输单&nbsp;&nbsp;&nbsp;&nbsp;</button>
    			@}
    			@if(item.xdjhJd != 5 && item.xdjhJd != 6){
				<button type="button" class="btn-item btn-item-last btn btn-lg btn-arrow-right">&nbsp;&nbsp;&nbsp;&nbsp;赢单&nbsp;&nbsp;&nbsp;&nbsp;</button>
    			@}
    			<button type="button" class="layui-btn layui-btn-primary" style="margin-left: 40px;" onclick="bg()">变更</button>
    		</div>
    		<div style="padding:10px 0px;font-size: 14px !important;">
    			@if(xsjd.id != null){
			    <span>${xsjd.ryname}</span>
			    <span style="margin-left: 20px;">${xsjd.xsjdTime}</span>
			    @}
		    </div>
    	</div>
   	</div>
   	
   	 <!-- 机会动态 -->
    <div class="box margin-top-20">
    	<div class="box-head">机会动态</div>
    	<div class="box-content">
    		<ul class="layui-timeline">
    		   <li class="layui-timeline-item">
			    <i class="layui-icon layui-timeline-axis active">&#xe63f;</i>
			    <div class="layui-timeline-content layui-text">
			      <p class="time-content" style="text-align: center;">
			      	<button style="color:white;height: 40px;padding: 10px 30px;" class="btn back-blue" onclick="addRecord()">点击增加跟进记录</button>
			      </p>
			    </div>
			  </li>
			  @for(item in dtList){
			  	 <li class="layui-timeline-item">
				    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
				    <div class="layui-timeline-content layui-text">
				      <div class="layui-timeline-title">${item.jhdtTime!,dateFormat='yyyy-MM-dd HH:mm:ss'}
				      	<span style="margin-left: 20px;fonr-size:12px !important;">${item.ryname!}</span>
				      	<span style="margin-left: 20px;fonr-size:12px !important;">
				      	@if(item.jhdtFs == 1 || item.jhdtFs == '1'){
				      		当面拜访
				      	@}else if(item.jhdtFs == 2 || item.jhdtFs == '2'){
				      		电话拜访	
				      	@}else if(item.jhdtFs == 3 || item.jhdtFs == '3'){
				      		网络拜访
				      	@}
				      	</span>
				      </div>
				      <p class="time-content">
				        ${item.jhdtNr!}
				      </p>
				    </div>
				  </li>
			  @}
			</ul>
    	</div>
   	</div>
</div>
<script src="${ctxPath}/static/modular/crm/xsjh/xsjh_info.js"></script>
<script>
	function bg(){
		var bgbox = layer.open({
			type: 1
			,title: false //不显示标题栏
		    ,closeBtn: false
			,area: '25%'
			,shade: 0.4
			,id: 'LAY_layuipro' //设定一个id，防止重复弹出
			,resize: false
		    ,content: $("#bgbox")
		});
	}
	function zh(){
		var bgbox = layer.open({
			type: 1
			,title: false //不显示标题栏
		    ,closeBtn: false
			,area: '25%'
			,shade: 0.4
			,id: 'LAY_layuipro1' //设定一个id，防止重复弹出
			,resize: false
		    ,content: $("#zhbox")
		});
	}
	function addRecord(){
		var xsjhbox = layer.open({
			type: 1
			,title: false //不显示标题栏
		    ,closeBtn: false
			,area: '35%'
			,shade: 0.4
			,id: 'addRecord' //设定一个id，防止重复弹出
			,resize: false
		    ,content: $("#xsjhbox")
		});
	}
	//新增更近记录提交
	function addRecordTijiao(){
		var jhdtFs = $("input[name='jhdtFs']:checked").val();
		var jhdtYw = $("#jhdtYw").val();
		var jhdtNr = $("#jhdtNr").val();
		var xsjhId = $("#xsjhId").val();
		$.ajax({
			url: Feng.ctxPath + "/xsjh/saveXsjhGjjl",
			data:{
				jhdtFs: jhdtFs,
				jhdtYw: jhdtYw,
				jhdtNr: jhdtNr,
				xsjhId: xsjhId
			},
			success:function(res){
				if(res.code == 200 || res.code == '200'){
					Feng.success("新增更近记录成功！");
					location.reload();
				}else{
					Feng.error(res.message);
				}
			}
		})
	}
	//变更提交
	function bgtijiao(){
		$.ajax({
			url: Feng.ctxPath + "/xsjh/saveXsjhBg",
			data:{
				xsjhId: $("#xsjhId").val(),
				xsjdId: $("#xsjdId").val()
			},
			success:function(res){
				if(res.code == 200 || res.code == '200'){
					Feng.success("变更成功！");
					location.reload();
				}else{
					Feng.error(res.message);
				}
			}
		})
	}
	//转换提交
	function zhtijiao(){
		$.ajax({
			url: Feng.ctxPath + "/xsjh/saveXsjhZY",
			data:{
				xsjhId: $("#xsjhId").val(),
				newXyrId: $("#newXyrId").val()
			},
			success:function(res){
				if(res.code == 200 || res.code == '200'){
					Feng.success("转换成功!");
					location.reload();
				}else{
					Feng.error(res.message);
				}
			}
		})
	}
</script>
<link href="${ctxPath}/static/layui/layui.js" rel="stylesheet"/>
@}
