<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.CrmCusrecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.CrmCusrecord">
        <id column="id" property="id" />
        <result column="customerId" property="customerId" />
        <result column="createDate" property="createDate" />
        <result column="IsDelete" property="IsDelete" />
        <result column="followType" property="followType" />
        <result column="followBuiness" property="followBuiness" />
        <result column="followDetail" property="followDetail" />
        <result column="salerId" property="salerId" />
        <result column="other1" property="other1" />
        <result column="other2" property="other2" />
        <result column="other3" property="other3" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, customerId, createDate, IsDelete, followType, followBuiness, followDetail, salerId, other1, other2, other3
    </sql>

    <select id="showJLlist" resultType="map">
        select
		<include refid="Base_Column_List" />
		from co_crm_cusrecord
		where customerId =#{id} order by createDate desc
    </select>
</mapper>
